<div class="panel panel-default">
  <div class="panel-heading center"><strong>Assigned Equipments</strong></div>
    <table class="table">
    	<thead>
    		<th><center>Inventory<br>Number<center></th>
            <th><center>Equipment<br>Type<center></th>
    		<th><center>Equipment<br>Description<center></th>
            <th><center>Equipment<br>Quantity<center></th>
            <th><center>Assigned<br>Employee<center></th>
            <th><center>Designation<center></th>
            <th><center>Department<center></th>
    	</thead>
        <tbody>
            <%i = 0%>
            <%@assigns.each do |ass|%>
                <tr>
                    <td><center><strong><%= ass.assign_lines[i].inventory_number %></strong></center></td>
                    <td><center><strong><%= ass.assign_lines[i].inventory.type.name %></strong></center></td>
                </tr>
            <%i +=1%>
            <%end%>
        </tbody>
    </table>
</div>