<div class="panel panel-default">
  <div class="panel-heading center"><strong>Assigned Equipments</strong></div>
    <table class="table">
    	<thead>
    		<th><center>Inventory<br>Number<center></th>
            <th><center>Equipment<br>Type<center></th>
    		<th><center>Equipment<br>Description<center></th>
            <th><center>Equipment<br>Quantity<center></th>
            <th><center>Assigned<br>Employee<center></th>
            <th><center>Designation<center></th>
            <th><center>Department<center></th>
    	</thead>
        <tbody>
            
        </tbody>
    </table>
</div>